* {
    cursor: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kiwi Maru', serif;
    color: #2B1F1F;
}

::before,
::after {
    box-sizing: inherit;
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

p::selection {
    background: #61ff7e;
    color: #2B1F1F;
}

p::-moz-selection {
    background: #61ff7e;
    color: #2B1F1F;
}

body {
    background-color: #f7f5eb;
}

#cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #c92e2e;
    mix-blend-mode: difference;
    z-index: 3;
    pointer-events: none;
}

header {
    background-color: #f7f5ebe1;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 10px;
    z-index: 1;
}

header ul {
    line-height: 100px;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

header li {
    margin-right: 20px;
    width: 200px;   
}

header a {
    display: block;
    font-weight: 400;
    color: #2B1F1F;
    text-decoration: none;
    font-size: 120%;
    position: relative;
}

header li a:hover {
    color: #c92e2e;
}

header li a::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 60%;
    height: 4px;
    background: #c92e2e;
    transition: all.3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

header li a:hover::after {
    transform: scale(1, 1);
}

main {
    max-width: 768px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}

article {
    margin: 60px 0;
}

h1{
    font-size: 230%;
    margin-bottom: 10px;
}

h2{
    background-color: #962222;
    padding: 20px;
    margin-bottom: 20px;
    color: #f7f5eb;
    font-size: 200%;
    text-align: center;
    border-left: #f7f5eb dashed 5px;
    border-right: #f7f5eb dashed 5px;
}

#TOP img{
    position: relative;
    width: 90%;
}

#TOP p{
    position: absolute;
    width: auto;
    height: 650px;
    padding: 40px;
    top: 35%;
    left: 60%;
    background-color: #fff;
    box-shadow: 30px 30px #B1B4AD;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.prof {
    display: flex;
    flex-wrap: wrap;
}

#person img {
    max-width: 300px;
    border-radius: 50%;
        box-shadow: 100px 0px #962222cb;
}

.prof_text p{
    margin-bottom: 10px;
}

.name {
    font-size: x-large;
    line-height: 40px;
    border-bottom: #2B1F1F solid 2px;
}

footer {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #435847;
}

footer p {
    text-align: center;
    color: #f7f5eb91;
    font-size: 16px;
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
}

#graydisplay img {
    z-index: 2;
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.webArea img{
    width: 100%;
    border-radius: 20px;
}

.webArea img:hover{
    opacity: 0.6;
}

.textbox{
    margin: 9px;
}

h3{
    padding: 10px 0;
}

.webArea p{
    padding: 10px 0;
    width: 740px;
}

.textbox p{
    padding: 10px 0;
    width: 350px;
}

p.threebox{
    padding: 10px 0;
    width: 220px;
}

.itembox{
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.itembox:hover{
    opacity: 0.7;
}

.itembox01{
    width: 356px;
    height: 255px;
}

.item01 img{
    width: 356px;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0; 
}

.itembox02{
    width: 230px;
    height: 300px;
}

.item02 img{
    width: 230px;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0; 
}

.itembox03{
    width: 356px;
    height: 200px;
}

.itembox03 img{
    width: 356px;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0; 
}

@media screen and (max-width: 768px) {
    #cursor {
        display: none;
    }

    header li {
        margin-right: 18px;
        width: auto;
    }

    header li a::after {
        width: 40px;
    }

    .wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    display:contents;
    }
    
    .item01,.item02 img{
        width: 100%;
    }

    #TOP p{
        height: 450px;
        padding: 20px;
        top: 20%;
        left: 60%;
        font-size: 90%;
        background-color: #fff;
        box-shadow: 10px 10px #B1B4AD;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }
}